.hero-section{
    min-height: calc(100vh - 14vh);
  
}

.hero-image,
.hero-content{
    flex: 1;
    flex-basis: 300px;
      margin-top: 100px;
}
.hero-image {
    padding-top: -30px;
    height:545px;
    margin-bottom: -12px;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sub-text{
    color: var(--text-primary-clr);
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 400;
}

h1{
    font-size: 4.5rem;
    line-height: 5rem;
    color: var(--text-primary-clr);
    margin-block: .5rem;
}

.green-text {
    color: var(--accent-clr);
}

p{
    font-size: .95rem;
    color: var(--text-secondary-clr);
    max-width: 550px;
}

.para{
    margin-block:2rem ;
}

/* .border-btn{
    color: var(--text-primary-clr);
    border-color: var(--accent-clr);
    background: transparent;
} */




@media screen and (max-width: 768px) {
    .hero-image {
        height: 100%;
    }

    .gap-4 {
        gap: 4rem;
    }

    h1 {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .hero-content {
        padding-top: 3rem;
    }
}
/* 
@media screen and (max-width:1000px) {
    .hero-image {
        height: 100%;
    }

    .gap-4 {
        gap: 4rem;
    }

    h1 {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .hero-content {
        padding-top: 3rem;
    }
} */
