.project-image,
.project-contnet {
    flex: 1;
    flex-basis: 300px;
}

.project-image {
    border-radius: 1rem;
    overflow: hidden;
}

.rotate {
    transform: rotate(-45deg);
    transition: .3s ease-in-out;
}

.rotate:hover {
    transform: rotate(0);
    background-color: var(--accent-clr);
    color: black;
    border: 1px solid black;
}

.card:hover {
     background: linear-gradient(var(--accent-clr),black);
    /* background: rgb(120, 74, 18); */
    border: 2px solid wheatx;
}

h3 {
    font-size: 1.5rem;
    color: var(--text-primary-clr);
}

.project:nth-child(even) {
    flex-direction: row-reverse;
}

.list {
    padding: .8rem;
    background: var(--accent-clr);
    color: var(--fix-clr);
    border-radius: 100vw;
}

.gap-1 {
    gap: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

@media screen and (max-width:790px) {
    .list {
        padding: .8rem 1.5rem;
        padding: .5rem;
    }

    h3{
        font-size: 1.6rem;
    }

    .gap-5 {
        gap: 2rem;
    }
}
