.navbar {
  /* position: fixed; */
}
.navbar {
  min-height: 14vh;
}

.logo {
  font-size: 1.8rem;
  color: var(--surface-clr);
  font-weight: bold;
}

.logo span {
  display: inline-block;
  background: var(--surface-clr);
  color: var(--text-primary-clr);
  width: 2.8rem;
  aspect-ratio: 1;
  border-radius: 100vw;
  text-align: center;
  margin-right: 0.4rem;
  
}

.link {
  font-size: 0.95rem;
  color: var(--text-secondary-clr);
  transition: .3s ease-in-out;
  cursor: pointer;
}

.link:hover {
    color: var(--accent-clr);
}

.gap-2 {
  gap: 2rem;
}

.btn {
  display: inline-block;
  padding: .7rem 1.5rem;
  background: var(--accent-clr);
  color: var(--fix-clr);
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 100vw;
  border: .1rem solid var(--accent-crl);
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background: transparent;
  color: var(--accent-clr);
  border: solid var(--text-secondary-clr);
}

.icon-container {
  width: 2.7rem;
  aspect-ratio: 1;
  border-radius: 100vw;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--surface-clr);
}

.border-inverse {
  border: 0.1rem solid rgba(123, 123, 123, 0.2);
  color: var(--text-secondary-clr);
}

.hamburger {
  color: var(--text-primary-clr);
  font-size: 1.7rem;
  display: none;
  background: var(--surface-clr);
  border-radius: 10px;
  padding: 6PX 3px 0px 3px;
}

.mobile-menu{
    display: none;
}


.desktop-menu a {
  color: black;
}

.desktop-menu a:hover{
  color: var(--accent-clr) !important;
  /* text-decoration: underline; */
   display: inline-block;
  padding: .7rem 1.5rem;
  background: var(--surface-clr);
  color: var(--fix-clr);
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 100vw;
  border: .1rem solid var(--accent-crl);
  transition: 0.3s ease-in-out;

}

.button{
  background-color: rgb(204, 201, 201);
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 50px;
}

.button:hover {
  text-decoration: underline;
  background-color: wheat;
  color: black;
  border: 2px solid black;
   display: inline-block;
  padding: .7rem 1.5rem;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 100vw;
  transition: 0.3s ease-in-out;
  
}



@media screen and (max-width: 790px) {
  .desktop-menu, .nav-action .btn{
    display: none;
  }

  .hamburger{
    display: block;
  }

  .logo{
    font-size: 1.8rem;
  }

  .logo span{
    width: 4rem;
    
    
  }
  

  .mobile-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: absolute;
    top: 20%;
    left: -100%;
    transform: translateX(-50%);
    background: rgba(var(--surface-clr), 0.3);
    backdrop-filter: blur(20px);
     border: 0.1rem solid rgba(123, 123, 123, 0.2);
     width: 20rem;
     padding: 1.5rem;
     border-radius: 1rem;
     z-index: 99;
     transition: .5s ease-in-out;

     
  }

  .mobile-menu-active{
    left: 50%;
    transform: translateX(-50%);
  }
}
