@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Comfortaa:wght@300..700&family=Dancing+Script:wght@400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* border: .1rem solid gold; */
}

:root {
  --background-clr: #000000;
  --surface-clr: #141414;
  --text-primary-clr: #fff;
  --text-secondary-clr: #b1b1b1;
  --accent-clr: #1EDD60;
  --fix-clr:#080808;
}

body {
  background: var(--background-clr);
  overflow-x: hidden;
}

[data-theme = "light"] {
  --background-clr:#FFF;
  --surface-clr:#F5F5F5;
  --text-primary-clr:#080808;
  --text-secondary-clr:#333;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.wrapper {
  max-width: 1400px;
  margin: auto;
  padding: 2rem;

}

img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

.p-block-9 {
  padding-block: 9rem;
}

.text-center{
  text-align: center;
}

.navbar{
  /* display: block; */
  position: fixed;
  background-color: #1EDD60;
  width: 100%;
  z-index: 100;
  color: var(--background-clr);
}