.about-image,
.about-content {
    flex: 1 ;
    flex-basis: 300px;
    
}

h6 {
    font-size: 2rem;
    color: var(--accent-clr);
    text-align: center;
}

.m-block-3{
    margin-block: 2rem;
}

.gap-5 {
    gap: 2rem;
}